@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    margin: 20px;
}

h1,
h2 {
    font-family: 'Lora';
    font-style: normal;
    text-decoration: none;
    text-align: center;
}

h2 a {
    color: #666;
    text-decoration: none;
}

header h1 a {
    color: #333;
    text-decoration: none;
}

nav {
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

header nav ul li a:hover {
    color: #00ddff;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    margin-bottom: 5px;
}

nav ul li a {
    color: #666;
    text-decoration: none;
}

nav ul li a:active {
    color: #DEB887;
}

nav ul li a:hover {
    color: #00ddff;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}

p a {
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    text-decoration: none;
}

.post-date {
    text-align: right;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 20px;
}

figure {
    margin: 0 auto;
    text-align: center;
}

figure img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (min-width: 650px) {

    body {
        max-width: 900px;
        margin: 0 auto;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav ul li {
        margin-bottom: 0;
        margin-right: 10px;

    }

    article {
        display: grid;
        grid-template-areas:
            "post-date post-content";
        padding: 0px;
    }

    .post-date {
        grid-area: post-date;
        width: 150px;
        border-right: 1px solid #d0d0d0;
        border-bottom: 0px;
        padding-right: 20px;
    }

    .post-content {
        grid-area: post-content;
        width: 450px;
        border-bottom: 1px solid #d0d0d0;
        margin: 0 auto;
        padding: 20px;
    }

}